.tab-buttons {
    .tab-button {
        display: flex!important;
        flex-direction: row!important;
        align-items: center!important;
        justify-content: center!important;
        gap: 10px!important;
    }
}