@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-Thin.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-ThinItalic.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-ExtraLight.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-ExtraLightItalic.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-Light.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-LightItalic.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-Regular.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-Italic.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-Medium.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-MediumItalic.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-SemiBold.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-SemiBoldItalic.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-Bold.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-BoldItalic.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-ExtraBold.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-ExtraBoldItalic.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-Black.ttf');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('fonts/jetbrainsmono/JetBrainsMono-BlackItalic.ttf');
}